/* MEDIA QUERY */

@media only screen and (max-width:600px){
    #formContainer{
        width: 100% !important;
    }
    .formHead{
        font-size: 1.5rem;
        top:-4rem !important;
        left:unset !important;
    }
}