#tableContainer {
    overflow-x: auto;
}

#tableContainer::-webkit-scrollbar {
    height: 4px;
}

.column,
.th {
    text-align: center;
    padding: 12px;
}

.row:nth-child(even) {
    background-color: #013F4F;
}

.tableBtn {
    background: var(--primary-60);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}